* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --details-color: #008080;
    --bkg-color: #066;
}

body {
    background-color: var(--bkg-color); /* #00668c */
}

.app {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--details-color);
    padding: 50px;
    border-radius: 3em;
    border: 0.1px solid white;
    box-shadow: 0 0 10px 1px var(--details-color);
}

p {
    color: white;
    font-size: 8em;
    /* font-family: 'Dosis', sans-serif; */
}

h1 {
    font-size: 2em;
    color: white;
}

.options-buttons {
    margin-top: 30px;
}

.option-btn {
    width: 120px;
    height: 40px;
    border-radius: 60px;
    border: 2px solid white;
    background-color: var(--details-color);
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.option-btn:hover {
    background-color: var(--bkg-color);
    transition: .4s;
}

/* The intervals indicators */

.intervals {
    padding: 20px;
    width: 530px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: white;
    text-align: center;
}

.intervals h2 {
    padding: 7px;
    width: 25%;
}
