#settings-popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inner-container {
    padding-top: 30px;
    width: 25%;
    min-width: 370px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:floralwhite;
    border-radius: 30px;
}

/* Time Settings section */

#time-settings {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    font-size: 1em;
    font-weight: 600;
}

#time-settings input{
    width: 70px;
}

#time-settings-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 300px;
    margin-bottom: 30px;
}

.time-setting-field {
    display: flex;
    flex-direction: column;
}

#other-settings {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

/* Other settings */

#other-settings input {
    margin: 5px;
    width: 50px;
    height: 20px;
}

.setting-field {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

/* Toggle Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);    
}


/* Save button */
#save-settings{
    margin-top: 30px;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 1em;
    color: #2196F3;
    font-weight: 600;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #2196F3;
}

#save-settings:hover {
    background-color: #ffd98d;
}

select {
    margin: 5px;
    width: 150px;
    height: 30px;
}